#table{

	 width: 250px;
	
  border: 1px solid #000;
  border-collapse: collapse;
}

td{

	 width: 250px;
	 padding:15px;
  border: 1px solid #000;
  border-collapse: collapse;
}



.par {
    background-color:#EC1212;
}
.impar {
    background-color:#12EC1A;
}

#mensaje{
border: 1px solid red;
width: 250px;
height: 250px;
text-align: center;


}

